.table {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  font-size: 1rem;
  line-height: 1.5;


  &__header {
    font-weight: 700;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;

    & .table__row-cell {
    }
  }

  &__row {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    border-top: 1px solid #dcdcdc;

    &:nth-child(1),
    &:nth-child(2) {
      border: none;
    }
  }

  &__row-cell {
    flex-grow: 1;
    flex-basis: 0;
    white-space: nowrap;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    padding: 5px;
    border-left: 1px solid #dcdcdc;
    width: 100px;

    &:first-child {
      border: none;
    }

    &.cell {
      flex-basis: 0;
      flex-grow: 1;
    }

    &.cell-2 {
      flex-basis: 0;
      flex-grow: 2;
    }

    &.cell-3 {
      flex-basis: 0;
      flex-grow: 3;
    }

    &.cell-4 {
      flex-basis: 0;
      flex-grow: 4;
    }

    &.cell-5 {
      flex-basis: 0;
      flex-grow: 5;
    }

    &.cell-6 {
      flex-basis: 0;
      flex-grow: 6;
    }

    &.cell-7 {
      flex-basis: 0;
      flex-grow: 7;
    }

    &.cell-8 {
      flex-basis: 0;
      flex-grow: 8;
    }

    &.cell-9 {
      flex-basis: 0;
      flex-grow: 9;
    }

    &.cell-10 {
      flex-basis: 0;
      flex-grow: 10;
    }

    &.cell-11 {
      flex-basis: 0;
      flex-grow: 11;
    }

    &.cell-12 {
      flex-basis: 0;
      flex-grow: 12;
    }
  }
}
